/* CSS declarations go here */
html,
body {
    height: 100%;
    color: #939393 !important;
}
.fs-2{
  font-size: 2em;
}
.fs-3{
  font-size: 3em;
}
.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
.no-float
{
  float:none !important;
}

.modules .btn{
  line-height: 4;
  width: 100%;
  font-size: 1.5em;
  padding: 35px 30px;
}
.modules .btn h3:after{
  content:' ►';
  /*font-size: 2em;*/
}

.navbar.main-header{
  background-color: #3687a7;/*#61959e;/*#6d9ca4;/*#4e8e98;/*#6f9095;/*#507883;/*#507283;/*#3f8aae;*/
  color: white !important;
}

.pointer{
  cursor : pointer;
}

.loginContainer{
  margin-top: 7rem !important;
  border-bottom: 3px solid #8ba6bd;
  padding-bottom: 70px;
}
.loginFields{
  margin-top: 5rem !important;
  color: #687d8f;
}
.loginButton{
  border: 1px solid #8ba6bd;
  color: #8ba6bd;
  padding: 20px 70px;
}
.admin-header{
  background-color: #928E7C;
  color: white !important;
}
.deviations-header{
  background-color: #FEFCDC;/*#F9F7CF;/*#FFFFD2;/*#FFFFC2;*/
  padding: 15px;
}
.deviations-header button{
  background-color: initial;
  border: 1px solid #e3e2b9;
  color: #8A8D6D ;
  font-size : 0.9rem !important;
}
.capa-header{
  background-color: #F3F9EB;/*#EBF5F9;/*#D2F9FF;/*#FFFFC2;*/
  padding: 15px;
}
.capa-header button{
  background-color: initial;
  border: 1px solid #b9dae3;
  color: #8A8D6D ;
  font-size : 0.9rem !important;
}
a{
  outline :none;
}
.left_menu {
    text-align: center;
    padding: 0;
}
.left_menu li {
    padding: 25px;
    list-style: none;
    margin: 15px;
    cursor: pointer;
    /*border: 1px solid #bdbdbd;*/
    border-radius: 3px;
}
.left_menu li:hover {
  background-color: #3687a7;
  color:  white;
  /*border-left: 2px solid #3687a7;*/
}
.left_menu li div {
  color: #939393;
}
.left_menu li:hover div {
  color: white;
}
.core {
  padding-top: 50px;
}
.core h2{
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
  width: 300px;
  text-align: center;
  border: 2px solid lightgray;
  border-top: none;
  margin: auto;
  margin-bottom: 40px;
}
.core h3{
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
}
.collapseLabel {
    border-bottom: 2px solid lightgray;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 10px;
}

.headingLabels{
  /* background-color: #fbfbfb; */
  padding: 20px 10px;
  border-bottom: 1px solid whitesmoke;
}
thead{
  border: 5px solid #f6f6e7;
  background-color: #fefef4;
  padding: 20px;
}
tr {
    border: 1px solid whitesmoke;
    box-shadow: 0 0 3px whitesmoke;
}
th,td{
  padding: 20px;
}
.user-role{
  border: 1px solid whitesmoke;
  padding: 15px;
}
.my-green{
  color: #7bba84;
}
.rc-select-dropdown{
  z-index: 1060 !important;
}
label {
    font-weight: bold;
}
textarea {
    border: 1px solid lightgray;
}
.lvlNull::before
{
  content: "▯▯▯";
  font-size: 1.5em;
  line-height: 17px;
  color: #b5b5b5;
}
.lvlMinor::before {
    content: "▮▯▯";/* ★☆☆ ■□□ ●○▶▷  ●○○  ▶▷▷ ★★☆ ▶▶▷ ●●● ★★★ */
    font-size: 1.5em;
    line-height: 17px;
    color: #50e748;/*#69ff61;*/
}
.lvlMedium::before {
    content: " ▮▮▯";
    font-size: 1.5em;
    line-height: 17px;
    color: #FFCF00;/*#FFEF3D;*/
}
.lvlMajor::before {
    content: "▮▮▮";
    font-size: 1.5em;
    line-height: 17px;
    color: #ED6060;/*#FF6161;*/
}
.nav-tabs span{
  border-top: 3px solid gray !important;
  margin-right: 15px;
  cursor: pointer;
}
span.active > .danger{
  color: #dc3545 !important;
}
span.active > .warning{
  color: #ffc107 !important;
}
span.active > .success{
  color: #28a745 !important;
}
.indicator-light-container{
  border: 2px solid lightgray;
  padding: 5px;
  border-radius: 5px;
}
.indicator-light{

    border: 2px solid  lightgray;
    padding: 35%;
    border-radius: 100%;
    width: 50%;
    height: auto;
    margin: auto;
    margin-bottom: 5px;


}
.react-date-picker__button{
  width : 100%;
}
.react-time-picker__button{
  width : 100%;
}
.no-decor{
  text-decoration: none !important;
}
